*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header{
 height: 100vh;
 background-color: white;
 background-size: cover;
 background-position: center;
 min-height: 100px;
}

ul{
    float: left;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 0;
    font-size: 17px;
}

ul li {
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
}

ul li a:hover{
    background-color: rgb(245, 22, 22);
    color:black;
}
ul li.active a {
    background-color: rgb(245, 22, 22);
    color:black;
}
.main{
    max-width: 1200px;
    margin: auto;
}








































.body{
    display:block;
}
h1{
    display:inline;
}
h2{
    display:inline;
}

.footerLeft{
    float:left;
    left:0;
}

.footerRight{
    right: 0;
    float: right;
}
.footerLeft img{
   padding-right: 50px;
}

.footer{
    display: block;
    background-color: green;
    width:100%;
    left:0;
    bottom:-200px;
    position:absolute;
}

