* {
    margin: 0;
    padding: 0;
}
.topBar {
    display: block;
    background-color: fuchsia;
    width: 100%
}
nav {
    display:block;
    background-color: aqua;
    width: 100%
}
nav ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

li{
    display:inline
}

/* The dropdown container */
.dropdown {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .aboutBtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .aboutBtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
    display:inline;
}
h2 { 
    display:inline;
}

.footerLeft{
    float:left;
    left:0;
}

.footerRight{
    right: 0;
    float: right;
}
.footerLeft img{
   padding-right: 50px;
}

.footer{
    display: block;
    background-color: green;
    width:100%;
    left:0;
    bottom:-200px;
    position:absolute;
}

