/* ------------------- All ------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4ABDAC;

}

/* ------------------- Top Bar ------------------- */

.header{
  position:fixed;
  width:100%;
}

/* Navigation Bar and Top Bar*/
.top-bar{
  
  display:flex;
  justify-content:flex-start;

  width:100%;

}

.top-bar{

  background-image: url("https://2f1a7f9478.visitscotland.net/wsimgs/visitscotland_43421242803_396913506.jpg");
  background-position: 50% 38%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  height:200px;
}
.top-bar div{
  padding:10px 10px;
}

.title{
  color:white;
  font-family: Arial;
  font-size:25px;
  text-shadow: 2px 2px black;
}

#logo {
  width:100px; 
  height:100px;
}

/* moves search input and button to right */

.search{
  margin-left:auto;
}

/* ------------------- Navigation ------------------- */


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
}

nav li {
  float: left;
}

nav li a, .aboutBtn {
  border: none;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  width:150px;
}

nav li a:hover, .dropdown:hover .aboutBtn {
  transition: 0.2s;
  background-color: white;
  color: black;
}

.aboutBtn {
  position: relative;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

nav .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

nav .dropdown-content a:hover {
  background-color: white;
  color: black;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}


/* ------------------- Headings ------------------- */

h1 {
  display:inline;
}
h2 { 
  color: rgb(255, 0, 128);
  display:inline;
}

/* ------------------- Tables ------------------- */

table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
/* ------------------- Footer ------------------- */

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F7B733;
  color: black;
  text-align: center;
}

.footerLeft{
  display: inline;
  float:left;
  left:0;
}

.footerRight{
  display: inline;
  right: 0;
  float: right;
}
.footerLeft img{
 padding-right: 50px;
}


